.container
  .row
    .col-sm-2
      = link_to new_category_path do
        Add
        .fa.fa-plus-square-o
      %ul.list-group
        - @categories.each do |category|
          = link_to category_path(category) do
            %li.list-group-item
              =category.title
    .col-sm-3
      = link_to new_category_list_path(@category) do
        Add
        .fa.fa-plus-square-o
      %ul.list-group
        - @lists.each do |list|
          = link_to category_list_path(@category, list) do
            %li.list-group-item
              =list.title

    .col-sm-7
      -if @list.present?
        = link_to new_list_link_path(@list) do
          Add
          .fa.fa-plus-square-o
        %ul.list-group
          - @list.links.each do |list|
            .col-sm-6
              %li
                =link_to "#{list.title}", "#{list.url}", target: "_blank"


