.container
  .row
    .col-sm-2
      = link_to new_category_path do
        Add
        .fa.fa-plus-square-o
      %ul.list-group
        = link_to category_path(@category) do
          %li.list-group-item
            =@category.title
    .col-sm-3
      = link_to new_list_path do
        Add
        .fa.fa-plus-square-o
      %ul.list-group
        %li.list-group-item
          %p=@list.title
          %p=@list.description

    .col-sm-7
      = link_to new_list_link_path(@list) do
        Add
        .fa.fa-plus-square-o
      %ul.list-group
        - @links.each do |list|
          .col-sm-6
            %li
              =link_to "#{list.title}", "#{list.url}", target: "_blank"


