- provide(:title, "Links create")

.container
  .row
    .col-sm-2
    .col-sm-8
      .form-group
        - flash.each do |message_type, message|
          %p.alert{class: "alert-#{message_type}"}
            = message
        %h1 リンク追加
        = form_for [@list, @link] do |f|
          = f.label :List
          %br
          = f.collection_select(:list_id, @lists, :id, :title, {class: "field form-control"})
          %br
          = f.label :title
          = f.text_area :title, class: "field form-control", rows: "1", maxlength: "30", placeholder: "Link title"
          = f.label :url
          = f.url_field :url, class: "field form-control", placeholder: "http://..."
          %br
          = f.submit "Create", class: "btn btn-primary"
          = f.submit "Continue to create", name: "next_button", class: "btn btn-primary"
    .col-sm-2
