- provide(:title, "Category create")
- breadcrumb :new_category

.container
  .row
    .col-sm-2
    .col-sm-8
      .form-group
        - flash.each do |message_type, message|
          %p.alert{class: "alert-#{message_type}"}
            = message
        %h1 カテゴリ作成
        = form_for(@category) do |f|
          = f.label :title
          = f.text_area :title, class: "field form-control", rows: "1", maxlength: "20", placeholder: "Create category"
          = f.submit "Create", class: "btn btn-primary"
          = f.submit "Continue to create", name: "next_button", class: "btn btn-primary"
    .col-sm-2
